.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 458px}
.u-section-1 .u-form-1 {width: 570px; margin: 39px auto 0}
.u-section-1 .u-form-group-3 {margin-left: 0}
.u-section-1 .u-btn-2 {border-style: none; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; background-image: none; margin: 30px auto 60px} 

@media (max-width: 767px){ .u-section-1 .u-form-1 {width: 540px} }

@media (max-width: 575px){ .u-section-1 .u-form-1 {width: 340px}
.u-section-1 .u-form-group-1 {width: 100%}
.u-section-1 .u-form-group-2 {width: 100%}
.u-section-1 .u-form-group-3 {width: 100%}
.u-section-1 .u-form-group-4 {width: 100%} }