.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 1041px}
.u-section-1 .u-text-1 {margin: 52px auto 0}
.u-section-1 .u-text-2 {font-size: 3rem; margin: 88px 100px 0 auto}
.u-section-1 .u-slider-1 {min-height: 519px; width: 616px; margin: -7px auto 0 2px}
.u-section-1 .u-carousel-indicators-1 {position: absolute; width: 108px; height: 3px; top: auto; bottom: 30px}
.u-section-1 .u-image-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/396289.jpg"); background-position: 50% 50%}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-group-1 {width: 512px; min-height: 306px; margin: 64px auto 0}
.u-section-1 .u-container-layout-2 {padding: 4px 50px 30px}
.u-section-1 .u-text-3 {font-size: 1.875rem; font-weight: 700; margin: 71px 0 0}
.u-section-1 .u-image-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/10well-newsletter-superJumbo1.jpg"); background-position: 50% 50%}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-group-2 {width: 541px; min-height: 396px; margin: 0 25px 0 auto}
.u-section-1 .u-container-layout-4 {padding: 30px}
.u-section-1 .u-text-4 {font-size: 1.875rem; font-weight: 700; margin: 0 -15px 0 15px}
.u-section-1 .u-image-3 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/115197628-indian-traditional-mix-sweet-food-or-mix-mithai-include-peda-mawa-burfi-dry-fruits-sweet-halwa-or-co.jpg"); background-position: 50% 50%}
.u-section-1 .u-container-layout-5 {padding: 30px 50px}
.u-section-1 .u-text-5 {font-size: 1.875rem; font-weight: 700; margin: 181px 47px 0 58px}
.u-section-1 .u-carousel-control-1 {width: 56px; height: 56px; left: 0; position: absolute; right: auto}
.u-section-1 .u-carousel-control-2 {width: 56px; height: 56px; left: auto; position: absolute; right: 0}
.u-section-1 .u-text-6 {margin: -454px 15px 0 676px}
.u-section-1 .u-btn-1 {border-style: none; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; margin: 137px 184px 59px auto} 

@media (max-width: 1199px){ .u-section-1 .u-text-2 {margin-top: 102px}
.u-section-1 .u-slider-1 {width: 659px; height: auto}
.u-section-1 .u-text-5 {margin-top: -402px; margin-right: -210px; width: 411px}
.u-section-1 .u-text-6 {margin-top: -392px}
.u-section-1 .u-btn-1 {margin-top: 386px; margin-right: 0; margin-bottom: 0} }

@media (max-width: 991px){ .u-section-1 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-container-layout-5 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-btn-1 {margin-top: 361px} }

@media (max-width: 767px){ .u-section-1 .u-slider-1 {width: 540px; margin-left: 0}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-group-2 {width: 520px; margin-right: 0}
.u-section-1 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-6 {margin-right: 0; margin-left: 511px} }

@media (max-width: 575px){ .u-section-1 .u-text-2 {font-size: 1.5rem}
.u-section-1 .u-slider-1 {width: 340px; margin-top: 20px}
.u-section-1 .u-group-1 {width: 320px}
.u-section-1 .u-group-2 {width: 320px}
.u-section-1 .u-text-5 {width: 320px}
.u-section-1 .u-text-6 {margin-top: -419px; margin-left: 311px}
.u-section-1 .u-btn-1 {margin-top: 309px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 930px}
.u-section-2 .u-text-1 {font-size: 3rem; margin: 66px 100px 0 auto}
.u-section-2 .u-slider-1 {min-height: 519px; width: 659px; margin: 83px auto 0 -32px}
.u-section-2 .u-carousel-indicators-1 {position: absolute; width: 108px; height: 3px; top: auto; bottom: 30px}
.u-section-2 .u-image-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/shutterstock_4867510001.jpg"); background-position: 50% 50%}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-group-1 {width: 581px; min-height: 396px; margin: 0 0 0 auto}
.u-section-2 .u-container-layout-2 {padding: 30px 50px}
.u-section-2 .u-text-2 {font-size: 1.875rem; font-weight: 700; margin: 163px 0 0 61px}
.u-section-2 .u-image-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/27552809-0.jpeg"); background-position: 50% 50%}
.u-section-2 .u-container-layout-3 {padding: 30px}
.u-section-2 .u-group-2 {width: 581px; min-height: 396px; margin: 0 auto 0 33px}
.u-section-2 .u-container-layout-4 {padding: 30px}
.u-section-2 .u-text-3 {font-size: 1.5rem; font-weight: 700; margin: 0 11px 0 20px}
.u-section-2 .u-image-3 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/lindsey-savage-8DWN4Gui9Yk-unsplash.jpg"); background-position: 50% 50%}
.u-section-2 .u-container-layout-5 {padding: 30px 50px}
.u-section-2 .u-text-4 {font-size: 1.5rem; font-weight: 700; margin: 176px -24px 0 auto}
.u-section-2 .u-carousel-control-1 {width: 56px; height: 56px; left: 0; position: absolute; right: auto}
.u-section-2 .u-carousel-control-2 {width: 56px; height: 56px; left: auto; position: absolute; right: 0}
.u-section-2 .u-text-5 {line-height: 0.8; margin: -541px 31px 0 647px}
.u-section-2 .u-btn-1 {border-style: none; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; margin: 41px 184px 60px auto} 

@media (max-width: 1199px){ .u-section-2 .u-slider-1 {height: auto; margin-top: -152px; margin-left: -25px}
.u-section-2 .u-text-4 {margin-top: -128px; margin-right: auto; margin-left: 197px}
.u-section-2 .u-text-5 {margin-top: -511px; margin-right: -14px; margin-left: auto}
.u-section-2 .u-btn-1 {margin-top: 391px; margin-right: 51px} }

@media (max-width: 991px){ .u-section-2 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-container-layout-5 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-btn-1 {margin-top: 352px; margin-right: 0} }

@media (max-width: 767px){ .u-section-2 .u-slider-1 {width: 540px; margin-left: 0}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-group-1 {width: 520px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-group-2 {width: 520px; margin-left: 0}
.u-section-2 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-btn-1 {margin-bottom: 53px} }

@media (max-width: 575px){ .u-section-2 .u-text-1 {font-size: 1.5rem}
.u-section-2 .u-slider-1 {width: 340px; margin-top: -126px}
.u-section-2 .u-group-1 {width: 320px}
.u-section-2 .u-group-2 {width: 320px}
.u-section-2 .u-text-4 {margin-top: 13px}
.u-section-2 .u-btn-1 {margin-top: 122px; margin-bottom: 60px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 850px}
.u-section-3 .u-text-1 {font-size: 3rem; margin: 39px 153px 0 681px}
.u-section-3 .u-slider-1 {min-height: 519px; width: 601px; margin: 0 auto 0 20px}
.u-section-3 .u-carousel-indicators-1 {position: absolute; width: 108px; height: 3px; top: auto; bottom: 30px}
.u-section-3 .u-image-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/rice-and-curry-in-sri-lanka.jpg"); background-position: 50% 50%}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-group-1 {width: 581px; min-height: 396px; margin: 0 0 0 auto}
.u-section-3 .u-container-layout-2 {padding: 30px 50px}
.u-section-3 .u-text-2 {font-weight: 700; font-size: 1.25rem; margin: 0 9px}
.u-section-3 .u-image-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/Kottu-438528403.jpg"); background-position: 50% 50%}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-group-2 {width: 583px; min-height: 404px; margin: 24px -16px 0 auto}
.u-section-3 .u-container-layout-4 {padding: 30px}
.u-section-3 .u-text-3 {font-weight: 700; font-size: 1.25rem; margin: 66px 16px 0 -16px}
.u-section-3 .u-image-3 {background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/large-https___s3-eu-west-1.amazonaws.com_htsi-ez-prod_ez_images_1_8_2_2_1432281-1-eng-GB_01-Red-rice-sea-crab-with-murunga-leaves-beetroot-dry-curry-banana-blossom-tempered-gre.jpg"); background-position: 50% 50%}
.u-section-3 .u-container-layout-5 {padding: 30px 50px}
.u-section-3 .u-text-4 {font-size: 1.875rem; font-weight: 700; margin: 0 30px}
.u-section-3 .u-carousel-control-1 {width: 56px; height: 56px; left: 0; position: absolute; right: auto}
.u-section-3 .u-carousel-control-2 {width: 56px; height: 56px; left: auto; position: absolute; right: 0}
.u-section-3 .u-text-5 {line-height: 0.8; margin: -479px 0 0 668px}
.u-section-3 .u-btn-1 {border-style: none; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; margin: 50px 153px 52px auto} 

@media (max-width: 1199px){ .u-section-3 {min-height: 738px}
.u-section-3 .u-slider-1 {height: auto}
.u-section-3 .u-btn-1 {width: 111px; margin-right: 0} }

@media (max-width: 991px){ .u-section-3 .u-text-1 {margin-right: 117px; margin-left: 522px}
.u-section-3 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-container-layout-5 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-3 .u-text-1 {margin-right: 88px; margin-left: 392px}
.u-section-3 .u-slider-1 {width: 540px; margin-left: 0}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-group-1 {width: 520px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-group-2 {width: 520px; margin-right: 0}
.u-section-3 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-text-5 {margin-left: 488px} }

@media (max-width: 575px){ .u-section-3 .u-text-1 {font-size: 1.5rem; margin-right: 55px; margin-left: 247px}
.u-section-3 .u-slider-1 {width: 340px}
.u-section-3 .u-group-1 {width: 320px}
.u-section-3 .u-group-2 {width: 320px}
.u-section-3 .u-text-5 {margin-left: 288px} }.u-section-4 {background-image: none}
.u-section-4 .u-sheet-1 {min-height: 455px}
.u-section-4 .u-text-1 {font-size: 3.75rem; margin: 25px 323px 0 auto}
.u-section-4 .u-text-2 {font-size: 3rem; margin: 72px 3px 0 auto}
.u-section-4 .u-text-3 {font-size: 3rem; margin: -53px auto 0 0}
.u-section-4 .u-text-4 {font-size: 3rem; margin: -53px auto 0 377px}
.u-section-4 .u-btn-1 {border-style: none; font-weight: 700; text-transform: uppercase; font-size: 0.875rem; letter-spacing: 1px; margin: 56px auto 0 66px; padding: 17px 40px}
.u-section-4 .u-btn-2 {border-style: none; font-weight: 700; text-transform: uppercase; font-size: 0.875rem; letter-spacing: 1px; margin: -57px 115px 0 auto; padding: 17px 40px}
.u-section-4 .u-btn-3 {border-style: none; font-weight: 700; text-transform: uppercase; font-size: 0.875rem; letter-spacing: 1px; margin: -57px auto 60px 465px; padding: 17px 40px} 

@media (max-width: 1199px){ .u-section-4 .u-text-1 {margin-top: -184px}
.u-section-4 .u-text-2 {margin-top: 86px}
.u-section-4 .u-btn-1 {margin-left: 0}
.u-section-4 .u-btn-2 {margin-top: -52px; margin-right: 0}
.u-section-4 .u-btn-3 {margin-top: 26px; margin-left: 265px} }

@media (max-width: 991px){ .u-section-4 .u-text-2 {margin-top: 34px}
.u-section-4 .u-text-3 {margin-top: 0}
.u-section-4 .u-btn-3 {margin-left: 45px} }

@media (max-width: 767px){ .u-section-4 .u-btn-3 {margin-left: 0} }

@media (max-width: 575px){ .u-section-4 .u-text-1 {font-size: 1.5rem; margin-top: -211px}
.u-section-4 .u-text-2 {font-size: 1.5rem; margin-top: 113px}
.u-section-4 .u-text-3 {font-size: 1.5rem; margin-top: -53px}
.u-section-4 .u-text-4 {font-size: 1.5rem; margin-left: 237px} }